<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marked in the browser</title>
    <link href="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/resources/styles/index.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/a11y-dark.css">
    <style>
        #contents *{
            font-family: "Courier New", serif;
        }
        #contents p{
            font-size: 14px;
        }

        .hljs {
            border: 0;
            font-size: 12px;
            display: block;
            padding: 1px;
            margin: 0;
            width: 100%;
            font-weight: 200;
            color: #333;
            white-space: pre-wrap
        }
        .hljs ol {
            list-style: decimal;
            margin: 0px 0px 0 40px !important;
            padding: 0px;
        }
        .hljs ol li {
            list-style: decimal-leading-zero;
            border-left: 1px solid #ddd !important;
            padding: 5px!important;
            margin: 0 !important;
            white-space: pre;
        }
    </style>
</head>
<body>
<div class="visible-sm-block visible-xs-block">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Index</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{.Menu}}

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid" id="contents">
        {{.Contents}}
    </div>

</div>
<div class="container-fluid visible-md-block visible-lg-block">
    <div class="page-header">
        <h1>Awesome Blog <small>This is an awesome blog that designed by Leo.</small></h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Index</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{.Menu}}

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default visible-md-block visible-lg-block">
                    <div class="panel-heading">
                        PHP &gt; into PHP &gt; how to write php code
                    </div>
                    <div class="panel-body">
                        <!--<h1>this is title</h1>
                        <p>this is some description</p>-->

                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" alt="64x64" src="/resources/imgs/php.png" style="width: 64px; height: 64px;">
                            </div>
                            <div class="media-body">
                                <h1 class="media-heading">this is title</h1>
                                <small>write@2019-01-01</small>
                                <p>this is some description</p>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" id="contents">
                            {{.Contents}}
                        </li>
                    </ul>
                    <div class="panel-footer">Panel footer</div>
                </div>

                <div class="visible-sm-block visible-xs-block">{{.Contents}}</div>

            </div>
            <div class="col-lg-3">

                {{range $k,$v := .Subjects}}
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">{{$v.Title}}</div>
                        <div class="panel-body">
                            <p>{{$v.Title}}</p>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            {{if $v.Children}}
                                {{range $k2,$v2 := $v.Children}}
                                    {{if not $v2.Children}}
                                        <li class="list-group-item">{{$v2.Title}}</li>
                                    {{end}}
                                {{end}}
                            {{end}}

                        </ul>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" language="JavaScript" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" language="JavaScript" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script src="/resources/scripts/detail.js"></script>
</body>
</html>