<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Knowledge worth share - Leo's Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/resources/css/blog-home.css" rel="stylesheet">
  <link href="/resources/css/default.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {{.Nav}}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        {{if eq "" .Keywords}}
          <h1 class="my-4">Leo's Blog
            <small>Knowledge worth share</small>
          </h1>
        {{else}}
          <h1 class="my-4">搜索
            <small>{{.Keywords}}</small>
          </h1>
        {{end}}



        {{range $k2,$v2 := .List}}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">{{$v2.Title}}</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">{{$v2.Intro}}</p>
            <a href="/blog/detail?md={{$v2.Hash}}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img width="200" height="200" src="{{$v2.Img}}">
          </div>
        </div>
        {{end}}

{{/*        {{range $k2,$v2 := .List}}*/}}
{{/*          <!-- Blog Post -->*/}}
{{/*          <div class="card mb-4">*/}}
{{/*            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">*/}}
{{/*            <div class="card-body">*/}}
{{/*              <h2 class="card-title">{{$v2.Title}}</h2>*/}}
{{/*              <p class="card-text">{{$v2.Intro}}</p>*/}}
{{/*              <a href="/blog/detail?md={{$v2.Hash}}" class="btn btn-primary">Read More &rarr;</a>*/}}
{{/*            </div>*/}}
{{/*            <div class="card-footer text-muted">*/}}
{{/*              Posted on January 1, 2017 by*/}}
{{/*              <a href="#">Start Bootstrap</a>*/}}
{{/*            </div>*/}}
{{/*          </div>*/}}
{{/*        {{end}}*/}}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item {{if lt .PrevPage 0}}disabled{{end}}">
            <a class="page-link" href="?keywords={{$.Keywords}}&p={{$.PrevPage}}">&larr; Older</a>
          </li>
          <li class="page-item {{if lt .NextPage 0}}disabled{{end}}">
            <a class="page-link" href="?keywords={{$.Keywords}}&p={{$.NextPage}}">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        {{.Sidebar}}

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {{.Footer}}

  <!-- Bootstrap core JavaScript -->
  <script src="/resources/vendor/jquery/jquery.min.js"></script>
  <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/scripts/common.js"></script>

</body>

</html>
