.clean{clear:both;}
#header{height:100px;background: #BBFFFF; width:1000px; margin: 0 auto;}
#main{height: auto; background: #AEEEEE; width: 1000px; margin: 0 auto;}
#m-left{height: 100%; background: #FAEBD7; width: 200px; float:left;}
#content{height: auto; background: #FFDAB9; width: 780px;float:left; padding: 10px;}
#footer{height:100px;background: #FFFACD; width: 1000px; margin: 0 auto;}